.login-form {
  width: 500px;
  margin: 0 auto;
  background: #ebd4cb;
  padding: 40px;
  border: #302D32 solid 2px;
  border-radius: 10px;
  text-align: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  background: #890620;
  border-radius: 10px;
  height: 40px;
  width: 80px;
  color: #FBF7F5;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bold;
  outline: none;
  box-shadow: 0 5px #da9f93;
  cursor: pointer;
}

.submit-button:active {
  box-shadow: 0 5px #b6465f;
  transform: translateY(2px);
}

#username,
#password {
  margin-bottom: 10px;
  width: 200px;
  height: 30px;
  background: transparent;
  outline: none;
  border: #890620 solid 2px;
  border-radius: 15px;
  padding-left: 20px;
  color: #890620;
  font-size: 14px;
}

#username::placeholder, #password::placeholder {
  color: #890620;
}

i {
  font-size: 100px !important;
  background: #da9f93;
  width: 120px;
  height: auto;
  border: 1.2px #890620 solid;
  border-radius: 50%;
  padding: 5px;
  margin: 20px auto;
  color: rgb(203, 118, 94);
}

.login-container {
 text-align: center;
 height: 100vh;
 background: #69626D;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 20px;
}

#register {
  width: 100px;
}